.imagem1{
    width: 100%;
}

.titulo-cec {
    z-index: 500;
    position: absolute;
    bottom: 20%;
    margin-bottom: 3.5%;
    /* margin-bottom: ; */
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    opacity: 0; /* Começa invisível */
    transition: opacity 2s ease; /* Transição suave para a opacidade */
}
.subtitulo-cec{
    z-index: 500;
    position: absolute;
    bottom: 20%;
    margin-bottom: 1.5%;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    opacity: 0; /* Começa invisível */
    transition: opacity 2.5s ease; 
}
.fade-in {
    opacity: 1; /* Torna visível */
}

.fade-out {
    opacity: 0; /* Torna invisível */
}

.botao{
    z-index: 500;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition: 0.5s;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
}

.div-container1{
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botao-e-nome{
    position:absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}