.imagem1{
    width: 100%;
}
.hidden-card {
    opacity: 0;
    transform: translateY(150px);
    transition: all 0.9s ease-out; /* Suavidade na transição */
}

/* Estado final: visível e na posição original */
.visible-card {
    opacity: 1;
    transform: translateY(0);
}

.titulo-cec {
    z-index: 500;
    position: absolute;
    bottom: 20%;
    margin-bottom: 3.5%;
    /* margin-bottom: ; */
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    opacity: 0; /* Começa invisível */
    transition: opacity 2s ease; /* Transição suave para a opacidade */
}
.subtitulo-cec{
    z-index: 500;
    position: absolute;
    bottom: 20%;
    margin-bottom: 1.5%;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    opacity: 0; /* Começa invisível */
    transition: opacity 2.5s ease; 
}
.fade-in {
    opacity: 1; /* Torna visível */
}

.fade-out {
    opacity: 0; /* Torna invisível */
}

.botao{
    z-index: 500;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition: 0.5s;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
}

.div-container1{
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botao-e-nome{
    position:absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
.div-container2{
    width: 100%;
    height: 20%;
    display: flex;
}
.titulo2{
    z-index: 500;
    font-family: monospace;
    font-size: 40px;
    position: absolute;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
    margin: 15%;
}
.subtitulo2{
    z-index: 500;
    font-size: 20px;
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
    color: #fff;
    width: 25%;
    margin-top: 19%;
    margin-left: 15%;
}
.botao2{
    z-index: 500;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition: 2s;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
    margin-top: 30%;
    margin-left: 15%;
}
.div-container3{
    width: 100%;
    height: 20%;
    display: flex;
}
.titulo3{
    z-index: 500;
    font-family: monospace;
    font-size: 40px;
    position: absolute;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
    margin-top: 20%;
    margin-left: 15%;

}
.subtitulo3{
    z-index: 500;
    font-size: 20px;
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
    color: #fff;
    width: 25%;
    margin-top: 18%;
    margin-left: 15%;
}
.botao3{
    z-index: 500;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition: 2s;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
    margin-top: 25%;
    margin-left: 15%;
}
.div-container4{
    width: 100%;
    height: 20%;
    display: flex;
}
.titulo4{
    z-index: 500;
    font-family: monospace;
    font-size: 40px;
    position: absolute;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
    margin-top: 42%;
    margin-left: 15%;

}
.subtitulo4{
    z-index: 500;
    font-size: 20px;
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
    color: #fff;
    width: 25%;
    margin-top: 40%;
    margin-left: 15%;
}
.botao4{
    z-index: 500;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition: 2s;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
    margin-top: 47%;
    margin-left: 15%;
}
.div-container5{
    width: 100%;
    height: 20%;
    display: flex;
    background-color: rgb(31, 31, 31);

}
.ultimaImagem{
    width: 40%;
    height: 70%;
    margin: 5%;
    flex-direction: row;
}

.titulo5{
    z-index: 500;
    font-family: monospace;
    font-size: 40px;
    position: absolute;
    color: #fff;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);  */
    margin-top: 13%;
    margin-left: 55%;

}
.subtitulo5{
    z-index: 500;
    font-size: 20px;
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
    color: #fff;
    width: 25%;
    margin-top: 11%;
    margin-left: 55%;
}
.botao5{
    z-index: 500;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition: 2s;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto */
    margin-top: 18%;
    margin-left: 55%;
}

.botao:hover,
.botao2:hover,
.botao3:hover,
.botao4:hover,
.botao5:hover {
    background-color: #ff4d4d; /* Tom mais claro de vermelho */
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho */
    box-shadow: 0px 0px 10px rgba(255, 77, 77, 0.8); /* Adiciona um brilho */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}


@media (max-width: 700px) {
    .imagem1 {
        width: 100%;
        height: auto; /* Ajusta automaticamente a altura */
    }
  .botao-e-nome{
    margin-top: 70px;
  }
    .titulo-cec {
        font-size: 20px; /* Reduz o tamanho da fonte */
    }

    .subtitulo-cec {
        font-size: 8px; /* Reduz o tamanho da fonte */
    }

    .botao {
        width: 110px; /* Ajusta o tamanho do botão */
        height: 40px;
        font-size: 12px; /* Reduz o tamanho da fonte */
    }

    .titulo2, .titulo3, .titulo4, .titulo5 {
        font-size: 20px; /* Reduz o tamanho das fontes dos títulos */
        margin: 8%;
        
    }

    .subtitulo2, .subtitulo3, .subtitulo4, .subtitulo5 {
        font-size: 8px; /* Reduz o tamanho das fontes dos subtítulos */
        margin-top: 15%;
        margin-left: 8%;
    }
    .botao2{
        width: 110px;
        height: 40px;
        font-size: 12px;
        margin-top: 30%;
        margin-left: 8%;

    }
     .botao3, .botao4, .botao5 {
        width: 110px;
        height: 40px;
        font-size: 12px;
        margin-top: 20%;
        margin-left: 8%;
    }

    .ultimaImagem {
        width: 80%; /* Reduz o tamanho da última imagem */
        height: auto; /* Mantém a proporção */
        margin: auto; /* Centraliza */
    }
}

